* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:focus:not(:focus-visible) {
    outline: none !important; /* Remove the focus outline */
    box-shadow: none !important; /* Remove any box-shadow if present */
    color: transparent !important;
  }
}

a {
  &:focus:not(:focus-visible) {
    outline: none !important; /* Remove the focus outline */
    box-shadow: none !important; /* Remove any box-shadow if present */
    color: transparent !important;
  }
}

/* Additional specificity for Ant Design components */
.ant-btn:focus:not(:focus-visible),
.ant-input:focus:not(:focus-visible),
.ant-select-selector:focus:not(:focus-visible),
.ant-checkbox-wrapper:focus:not(:focus-visible),
.ant-radio-wrapper:focus:not(:focus-visible),
.ant-switch:focus:not(:focus-visible) {
  outline: none; /* Remove the focus outline */
  box-shadow: none; /* Remove any box-shadow if present */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

a {
  text-decoration: none !important;
}

// FORM
.form-input {
  .ant-input-affix-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  input {
    height: 40px !important;
  }
}

.mb-primary {
  margin-bottom: 24px !important;
}

.mb-secondary {
  margin-bottom: 12px !important;
}

.w-100 {
  width: 100% !important;
}

.standard-button {
  &.w-radius {
    button {
      border-radius: 30px !important;
    }
  }
  &.btn-small {
    button {
      height: 32px !important;
    }
  }
  .ant-btn-primary {
    background: #00203f !important;
  }
  .ant-btn-secondary {
    background: #adefd1 !important;
    color: #00203f !important;
  }
  button {
    height: 40px !important;
    &:disabled {
      color: grey !important;
      font-weight: bold !important;
    }
  }
}
